#Titre {
	margin-top: 5%;
	color: white;
	text-align: center;
}

#title {
	color: darkred;
}

h3:hover {
	color: darkred;
}

#mq {
	padding-left: 90px;
	display: block;
	width: 300px;
}

#jv {
	padding-left: 80px;
	display: block;
	width: 300px;
}

#anim {
	padding-left: 100px;
	display: block;
	width: 300px;
}

#dec:hover {
	color: darkred;
}

#bf3 {
	text-decoration: none;
	color: white;
}

#edit-bf3:hover {
	color: darkred;
}

body{
	background-image: url("Images/photo.jpg");
    height: 100%
}

nav {
	width: 100%;
	position: fixed;
	top: 0;
	right: 0px;
	z-index: 1;
}

nav ul {
	text-align: center;
	padding-left: 0;
	background-color: black;
	margin-top: 0;
	margin-right: 0px;
	font-family: 'Big Shoulders Stencil Display', cursive;
}

nav li {
	text-align: center;
	display: inline-block;
}

nav a {
	border: 1px solid black;
	padding: 10px;
	display: block;
	width: 100px;
	color: white;
	font-family: "dejavu" serif;
}

.Accueil:hover {
	color: darkred;
	text-decoration: none;
}

#premier {
	margin-right: 100px;
}

.col-sm {
	color: white;
	width: 325px;
	margin-top: 90px;
}

#Fate {
	color: white;
	text-decoration: none;
}
#Loisirs {
	color: white;
	text-decoration: none;
}
#edit-loisirs:hover {
 color: darkred;
}
#Competences {
	color: white;
	text-decoration: none;
}
#edit-comp:hover {
 color: darkred;
}
#Experiences {
	color: white;
	text-decoration: none;
}
#edit-exp:hover {
 color: darkred;
}
#Contact {
	color: white;
	text-decoration: none;
	width: 100%;
}
#edit-contact:hover {
 color: darkred;
}
#basdepage { /* bannière en bas de page noire*/
	display: block;
	border: 1px solid black;
    margin-top: 120px;
    background-color: black;
    color: white;
    text-align: center;
}